<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default" *ngIf="weather">
            <div class="panel-heading"><h4>{{weather.Summary}}</h4></div>
            <div class="panel-body weather">
                <img src="img/weather/{{weather.Icon}}.png">
                <div class="weather-content">
                    <div class="temperature">{{weather.Temperature}}</div>
                    <div class="unit">{{weather.Unit}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="well">
            <h1>{{getTime()}}</h1>
            <h3 *ngIf="weather">{{weather.Timezone}}</h3>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default" *ngIf="departures">
            <div class="panel-heading"><h4>Bersarinplatz > Warschauer Str.</h4></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li *ngFor="#departure of departures" class="list-group-item">
                        {{departure.Time}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="quote" *ngIf="quote">
    {{quote.quoteText}} <small>{{quote.quoteAuthor}}</small>
</div>
