#main {
    padding-top:20px;
}

.weather img {
    float:left;
    height:64px;
    width:64px
}

.weather-content {
    padding-left:10px;
    float:left;
}

.weather-content .temperature {
    float:left;
    margin-top:-3px;
    font-size:64px;
}

.weather-content .unit {
    float:left;
    font-size:16px;
    margin-top:6px;
}

.quote {
    position: absolute;
    text-align: center;
    bottom: 100px;
    left: 0;
    color: white;
    font-size: 42px;
    margin: 0 50px;
}

.quote small {
    font-size: 75%;
}